#above-nav{
    justify-content: space-around;
    height:3.3rem;

}

#above-nav a:hover{
    color:var(--emerald)!important;
}

.contact{
    flex-basis: 35%;
    padding: 0.5rem 0 0.3rem;
    color:white;
}
.email{
    margin-right: 10%;
}
.login-register{
    padding: 0rem;
    text-align: right;
    flex-basis: 25%;
}
.login-register>a{
    padding: 0.8rem 1rem 0 1rem;
    font-size: 1.4rem;
}
.contact,.contact a,.login-register{
    font-size: 1.3rem;
}

.contact .icon{
    font-size: 2.2rem;
}
.social-media{
    flex-basis: 25%;
    text-align: center;
}
.social-media>a ,.login-register>a{
    display: inline-block;
    border-right: thin solid white;
    height: 100%;
}
.social-media>a{
    font-size: 2.2rem;
    padding:0.5rem 1rem 0;
}

.social-media>a:first-child,.login-register>a:first-child{
    border-left: thin solid white;
}


@media screen and (max-width: 885px) {
    #above-nav{
        justify-content: space-between;
    }
    .contact{
        display: none;
    }
    .social-media{
        flex-basis: 50%;
        text-align: left;
    }
    .login-register{
        flex-basis: 50%;
    }
}