#above-nav{
    justify-content: space-evenly;
    height:3.3rem;

}

#above-nav a:hover{
    color:var(--emerald)!important;
}

.search{
    flex-grow: 1;
    margin-left: 2%;
    padding: 0.35rem 0 0.3rem;
    color:white;
}
.search input{
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    width: 30%;
    min-width: 20rem;
    background: hsla(0,100%,100%,0.8) url("../images/search.png") 1rem no-repeat;

}
.search input:focus{
    background-color:hsla(0,100%,100%,1) ;
}

.login-register{
    flex-grow: 1;
    text-align: right;
    margin-right: 2%;

}
.login-register>a{
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
    line-height: 3.1rem;
    border-right: thin solid white;
    font-size: 1.4rem;
    height: 100%;
    transition: color 0.2s;
}

.login-register>a:first-child{
    border-left: thin solid white;
}
.logged-in,.notifications{
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0;
}
.logged-in>a,.notifications>a{
    display: block;
    font-size: 2rem;
    padding: 0 1rem;
    height: 100%;
    line-height: 3.4rem;
    text-align: center;
    border-left: thin solid white;
    border-right: thin solid white;
    transition: color 0.2s;

}
.notifications>a{
    border-right: 0;
    position: relative;
}
.notifications>a:after{
    position: absolute;
    content: '3';
    font-weight: bold;
    text-align:center;
    padding: 0.1rem 0.3rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    height: 1.5rem;
    background-color: var(--melanie);
    border-radius: 25%;
    color: white;
    top: 0.2rem;
    right: .4rem;

}
.logged-in>div,.notifications>div{
    display: none;
    position: absolute;
    top:100%;
    width: 20rem;
    right: 5%;
    text-align: left;
    right:0;
    z-index: 99;

}
.notifications>div{
    width: 32rem;
    right: -3.6rem;

}

.logged-in>div:after,.notifications>div:after{
    content: '';
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    width: 0;
    height: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-color: transparent transparent white transparent;
    border-style: solid;

}
.notifications>div:after{
    right:4rem;
}

.logged-in:hover>div,.notifications:hover>div{
    display: block;
    z-index: 99;

}

.logged-user-info{
    padding: 1rem 0.5rem;


}
.logged-user-info .user-char{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    margin-right: 1rem;

}
.logged-user-info>p{
    font-size: 1rem;
    margin-top:0.5rem;
    color:gray;

}

.logged-user-content li>a{
    display: block;
    height: 100%;
    padding: 1rem;
    transition: color 0.2s, background-color 0.2s;
}
.logged-user-content li>a:hover{
    background-color: var(--light-grey);

}


@media screen and (max-width: 885px) {
    #above-nav{
        justify-content: space-between;

    }

    .social-media{
        display: none;

    }
    .search{
        margin-left: 1.5%;
    }
    .login-register{
        flex-basis: 50%;
        margin: 0;
    }
}