.filtration-container{
    width: 97%;
    margin-top:4rem;
}
.filtration-side-navs{
    flex-basis: 20%;

}
.cards-pagination{
    flex-basis:80%;
}

.filtration-cards{
  /*  flex-basis: 78%;*/
    grid-template: repeat(3,auto)/repeat(3,29rem);
    grid-gap: 4rem 1.5rem;
    justify-content: space-evenly;
    margin-left: 2%;
}
@media screen and (max-width: 1220px) {

   .filtration-cards{
       grid-template: repeat(4,auto)/repeat(2,30rem);
       justify-content: space-evenly;
   }
}
@media screen and (max-width: 930px) {
    .filtration-side-navs{
        display:none ;
    }
    .filtration-container{
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 650px) {
    .filtration-cards{
        grid-template: repeat(6,auto)/30rem;
    }
    .cards-pagination{
        flex-basis: 100%;
    }
}