.form-container{
    width:40%;
    min-width: 300px;
    margin-top: 8rem;
    margin-bottom: 8rem;
    border-radius: 1rem;
}
.form-container>h1{
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}
.form-container>form{
    padding: 2rem;
}
.form-container input:not([type="checkbox"]):not([type="radio"]){
    margin: 1.5rem 0;
    width: 100%;
    padding:1.5rem 4rem;
    color:gray;
    outline:0;
    border-radius: 0.5rem;
    border:thin solid gray;
}

.form-container input[type="email"]{
    background: url("../images/mail.png") 1rem no-repeat;
}
.form-container input[type="password"]{
    background: url("../images/password.png") 1rem no-repeat;
}
.form-container input[type="text"]{
    background: url("../images/user.png") 1rem no-repeat;
}
.form-container input[name="creditCardNumber"]{
    background: url("../images/credit-card.png") 1rem no-repeat;
}
.form-container input[name="creditCardCvv"]{
    background: url("../images/cvv.png") 1rem no-repeat;
}
.form-container label{
    color: gray;
    font-size: 1.3rem;
    vertical-align: top;
    outline: 0;
}
.form-user-info{
    margin-bottom: 8rem;
}
.form-container a{
    background-color: #4267B2;
    font-size: 1.3rem;
    margin-left: 2%;
}
.form-container a:active{
    background-color: hsl(220, 46%, 38%);
}
.form-container button{
    margin-right: 2%;
}
.sign-up .form-user-info{
    margin-bottom: 2rem;
}
.checkbox{
    margin-top:1.5rem;
}