.notification-item{
    padding: 0.5rem;
    position: relative;
}
.notification-item p{
    margin: 0;
    font-size: 1.3rem;

}
.notification-item a{
    position: absolute;
    right:0.5rem;
    bottom: 0.5rem;
    font-size: 1.1rem;
}
.notification-item>img{
    width: 3rem;
    height: 3rem;
    margin-right: 2%;
    margin-top: 1rem;
}
.notification-item>.event-info span,.notification-item>.event-info address{
    color: gray;
    font-size: 1rem;
}
#above-nav .notification-item>a:hover{
    text-decoration: underline;
}
.notification-img{
    position: relative;
    border-radius: 50%;
    border:thin solid var(--emerald);
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 2%;

}
.notification-img>img{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}