.pagination-bar-container{
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.pagination-bar{
    display: inline-block;
    height: 5rem;
}
.pagination-bar a{
    padding: 0 2.5rem;
    display:block ;
    line-height: 4.5rem;
    font-size: 1.5rem;
}
.pagination-bar>li{
    height: 100%;
    border:thin solid gray;

}
.pagination-bar>li>a:hover{
    color: var(--melanie)!important;
}